# hidden files (can opt-in for committing if needed)
.*
!.gitignore
!.husky
!.prettierignore

# dependencies
node_modules
package-lock.json

# artifacts
next-env.d.ts

# instances
mock-server/data/*
mock-server/temp/*